@model IList<Ticket>

@{
    ViewData["Title"] = "HelpDesk Home Page";
}

<h3>Dashboard</h3>
<br />

<p>
    <input type="button" value="New Ticket" class="btn-sm btn-success" onclick="location.href='@Url.Action("Create", "Home")'" />
</p>
@if (TempData["Message"] != null)
{
    <div class="alert alert-info">
        @TempData["Message"]
    </div>
}

    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("#", "Index", new { sortOrder = ViewBag.NumberSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                Summary
            </th>
            <th>
                @Html.ActionLink("Creator", "Index", new { sortOrder = ViewBag.CreatorSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Priority", "Index", new { sortOrder = ViewBag.PrioritySortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Closed Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                Action
            </th>
        </tr>
        @foreach (var item in Model)
        {
            using (Html.BeginForm("Reopen", "Home", new { id = item.TicketGuid }))
            {
                @Html.AntiForgeryToken()
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Summary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Creator)
                    </td>

                    @if (item.TicketPriority.ToString() == "High")
                    {
                        <td class="bg-danger">
                            @Html.DisplayFor(modelItem => item.TicketPriority)
                        </td>
                    }
                    else if (item.TicketPriority.ToString() == "Low")
                    {
                        <td class="bg-info">
                            @Html.DisplayFor(modelItem => item.TicketPriority)
                        </td>
                    }
                    else
                    {
                        <td class="bg-warning">
                            @Html.DisplayFor(modelItem => item.TicketPriority)
                        </td>
                    }

                    <td>
                        @Html.DisplayFor(modelItem => item.ClosedDate)
                    </td>
                    <td>
                        <input type="button" value="Details" class="btn-xs btn-default" onclick="location.href='@Url.Action("Details", "Home", new { id = item.TicketGuid })'" />
                        @if (item.ClosedDate == null)
                        {
                            <input type="button" value="Close" class="btn-xs btn-primary" onclick="location.href='@Url.Action("Close", "Home", new { id = item.TicketGuid })'" />}
                        @if (item.ClosedDate != null)
                        {
                            <input type="submit" value="Open" class="btn-xs btn-warning" />
                        }
                    </td>
                </tr>
            }
        }
        @*@foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Summary)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.TicketGuid }) |
                        @Html.ActionLink("Details", "Details", new { id = item.TicketGuid }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.TicketGuid })
                    </td>
                </tr>
            }*@
        <tr>
            <td>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </td>
        </tr>
    </table>


